// Variables

$fontSize: 62.5%; // = 10px
$color1: #152A38;
$color2: #29435C;
$color3: #556E53;
$color4: #D1D4C9;
$fontColor: $color4;
$fontFamily: 'Lato', sans-serif;


// Imports

@import "partials/font";
@import "partials/animations";
@import "partials/base";
@import "partials/layout";
@import "partials/responsive";